
h3{
   text-align: center;
}

input{
    margin: 1em;
}
label{
    color: #fff;
}

form{
    background-color:blueviolet ;
    width: 15em;
    margin: 0 auto;
    text-align: center;
}